[Unit]
Description=HealthCheck API Gunicorn daemon
Requires=healthcheck-api.socket
After=network.target

[Service]
Type=notify
DynamicUser=yes
WorkingDirectory=/srv/services/healthcheck/api
ExecStart=/srv/services/healthcheck/api/.venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target

