[Unit]
Description=Perform healthcheck at regular intervals
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=hcusr
DynamicUser=yes
RuntimeDirectory=hcdaemon
WorkingDirectory=/srv/services/healthcheck/service
ExecStart=/srv/services/istuddown-backend/.venv/bin/python /srv/services/istuddown-backend/service/healthcheck_daemon.py /srv/services/istuddown-backend/service/config.json
ExecStop=kill -s SIGUSR1 "$MAINPID"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
