[Unit]
Description=HealthCheck API Gunicorn daemon
Requires=healthcheck-api.socket
After=network.target

[Service]
Type=notify
User=hcusr
DynamicUser=yes
WorkingDirectory=/srv/services/istuddown-backend/api
ExecStart=/srv/services/istuddown-backend/.venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
